<div id="maincontent" data-id="content" data-role="content">
    <div id="zebra">
        <div id="rssheader" style="margin: 12px 12px 12px 12px !important;font-family: 'Oswald', sans-serif;font-size: 1.6em;">
        Cancer Research
        </div>
    </div>


    <div id="zvideowrapper" data-iscroll="{
            'hScroll': false,
            'vScroll': true,
            'resizeEvents': 'orientationchange',
            'resizeWrapper': true,
            'mouseWheel': true,
            'click': true,
            'interactiveScrollbars': true,
            'shrinkScrollbars': 'scale'}">
        <div id="divrss" [ngClass]='["divrss"]' [ngStyle]='["padding-bottom: 1200px !important;"]'>

            <div id="panel_rss">
                <div id="rss_description" class="qzdescription"></div>
            </div>

            <ul data-theme="a" id="feeditems-ul" [ngClass]="['feeditems-ul']" 
                data-role="listview" data-inset="false" data-filter="false"
                [ngStyle] = '["padding-bottom: 100px !important"]'>
                <!--Checks first if feeds has value and if feeds doesn't have a value, 
                it doesn't access length of undefined because first condition failed.-->
                <div *ngIf="feeds?.length < 1">
                    <h3>"Searching..."</h3>
                </div>

                <li *ngFor="let feed of feeds;let i = index" [ngClass]="['spread-item']" 
                    data-icon="false" data-role="listview">
                    <div [class.active]="i == selectedRow">
                        <div [ngClass]="['duration-cover', 'accordion-toggle']" (click)="clicked($event, feed, i)">
                            <div [ngClass]="['duration-left']">{{feed.duration}}</div>
                            <img [ngClass]="['rounded-img']" src="{{feed.image}}" />
                        </div>
                        <h3 [ngClass]="['ellipsis']">{{feed.title}}</h3>
                        <p [ngClass]="['ellipsis2']">{{feed.shortDescription}}</p>
                    </div>
                    <!--<div [ngClass]="['spread-item-body', 'spread-item-body-closed']">
                        <p>{{feed.description}}</p>
                    </div>-->
                </li>

            </ul>
            <div style="width: 100% !important;height: 100px !important;">&nbsp;<div>
        </div>
    </div>
</div>
