<a href="#panel_controls" data-role="button" data-icon="gear" data-theme="a" class="btn ui-btn-left" style="margin-top:6px;">Setup</a>
<div class="center-wrapper"><img id="header_logo" src="./assets/img/header_logo.png" alt="SwipeClouds" style="margin-top:4px;"></div>
<div class="split-custom-wrapper" style="float: right !important;height:32px;margin-top:10px;right:0px !important;">
    <a id="b_ddBackgrounds2" (click)="nextBackground($event)" data-corners="false" href="#ddBackgrounds2" data-role="button" class="split-custom-button" data-icon="action" data-theme="a" data-iconpos="notext"></a>
    <a id="b_clouds" (click)="nextCloud($event)" data-corners="false" href="#" data-role="button" class="split-custom-button" data-icon="cloud" data-theme="a" data-iconpos="notext"></a>
</div>

