<div data-position="fixed">
    <a data-icon="home" data-rel="home" routerLink="/ads" href="#" rel="external" data-role="button" data-theme="a" class="btn ui-btn-left" style="margin-top:4px;">Home</a>
    <!--<a data-icon="home" data-rel="home" href="ads.html" rel="external" data-role="button" data-theme="a" class="btn ui-btn-left" style="margin-top:4px;">Home</a>-->
    <div class="center-wrapper">
        <img id="header_logo" src="./assets/img/header_logo.png" alt="Wild Workout" style="margin-top:4px;">
    </div>
    <a (click)="playontv()" href="#" data-role="button" data-icon="desktop" data-iconpos="right" data-theme="a"
        class="btn ui-btn-right" style="margin-top:4px;" data-rel="rel">TV</a>
</div>
<!--<div style="margin-top:-10px;z-index: 1 !important;">
    <img src="img/redtop.gif" style="height: 32px !important;width: 100% !important;" />
</div>-->   
