<div data-position="fixed">
<a data-icon="home" data-rel="home" routerLink="/swipeclouds" href="#" rel="external" data-role="button" data-theme="a" class="btn ui-btn-left" style="margin-top:4px;">Home</a>
<div class="center-wrapper">
    <img id="header_logo" src="./assets/img/header_logo.png" alt="Wild Workout" style="margin-top:4px;">
</div>
<a data-icon="back" data-rel="back" routerLink="/rss" href="#" rel="external" data-role="button" data-theme="a" class="btn ui-btn-right" style="margin-top:4px;">Back</a>
</div>

