<!--<div id="yt_content" data-iscroll="{
    'hScroll':false,
    'vScroll':true,
    'resizeEvents':'orientationchange',
    'resizeWrapper':true, 
    'mouseWheel': true, 
    'click': true, 
    'interactiveScrollbars': true, 
    'shrinkScrollbars': 'scale'
    }" data-id="zzzcontent" data-role="content" data-iscroll>-->

    <!--<div class="scroll-wrapper">-->
        <iframe id="iframe" name="iframe" [src]='page'  scrolling="yes" 
            marginheight="0" frameborder="0" webkitallowfullscreen 
            [attr.width]='_zwidth' [attr.height]='_zheight'
            mozallowfullscreen allowfullscreen></iframe>
    <!--</div>-->
<!--</div>-->


