<div style="margin: -12px 0px 0px 0px !important;" id="navbar" data-role="navbar" class="ui-navbar" role="navigation" data-theme="a">
    <ul>
        <li class="bcolor_purple"><a routerLink="/swipeclouds" href="#" data-icon="action">Clouds</a></li>
        <li class="bcolor_green"><a routerLink="/video" href="#myvideos" data-icon="video-camera">Videos</a></li>
        <li class="bcolor_mustard"><a (click)="CallBrowser($event, 'http://www.sergioapps.com/storefront.html')" target="_blank" data-icon="rss">Feeds</a>
        <li class="bcolor_red"><a (click)="CallBrowser($event, 'http://www.sergioapps.com/storefront.html')" target="_blank" data-icon="shop">Shop</a></li>
        <li class="bcolor_blue"><a (click)="CallBrowser($event, 'http://www.sergioapps.com/storefront.html')" target="_blank" data-icon="coffee">Cool</a></li>
    </ul>  
</div>