<div style="margin: -12px 0px 0px 0px !important;" id="navbar" data-role="navbar" class="ui-navbar" role="navigation" data-theme="a">
    <ul>
        <li type="button" class="bcolor_purple"><a (click)="clouds($event, 'next')" data-icon="camera">Clouds</a></li>
        <li type="button" class="bcolor_green"><a routerLink="/video" data-icon="coffee">Videos</a></li>
        <li type="button" class="bcolor_mustard"><a (click)="CallBrowser($event, 'http://www.sergioapps.com/storefront.html')" target="_blank" data-icon="shop">Shop</a></li>
        <li type="button" class="bcolor_red"><a (click)="prev($event, 'prev')" data-icon="arrow-l">Prev</a></li>
        <li type="button" class="bcolor_blue"><a (click)="next($event, 'next')" data-icon="arrow-r">Next</a></li>
    </ul>
</div>